In [1]:
pip install spark pandas

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 314.9 kB/s eta 0:00:000:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58748 sha256=afa79a251a7ec86372a8c8e667facda368222221c2f5987f8c0bc7aa4f9bfdea
  Stored in directory: /home/jovyan/.cache/pip/wheels/89/3a/8d/19221e83efd8f57618e9a4171bbd9184347bb060723f33a38d
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
spark

In [6]:
df_spark = spark.read.csv('stores.csv')

In [8]:
df_spark.show()

+---------+-------------+--------------------+----+-------+
|      _c0|          _c1|                 _c2| _c3|    _c4|
+---------+-------------+--------------------+----+-------+
|store_nbr|         city|               state|type|cluster|
|        1|        Quito|           Pichincha|   D|     13|
|        2|        Quito|           Pichincha|   D|     13|
|        3|        Quito|           Pichincha|   D|      8|
|        4|        Quito|           Pichincha|   D|      9|
|        5|Santo Domingo|Santo Domingo de ...|   D|      4|
|        6|        Quito|           Pichincha|   D|     13|
|        7|        Quito|           Pichincha|   D|      8|
|        8|        Quito|           Pichincha|   D|      8|
|        9|        Quito|           Pichincha|   B|      6|
|       10|        Quito|           Pichincha|   C|     15|
|       11|      Cayambe|           Pichincha|   B|      6|
|       12|    Latacunga|            Cotopaxi|   C|     15|
|       13|    Latacunga|            Cotopaxi|   C|     15|
|       14|     Riobamba|          Chimborazo|   C|      7|
|       15|       Ibarra|            Imbabura|   C|     15|
|       16|Santo Domingo|Santo Domingo de ...|   C|      3|
|       17|        Quito|           Pichincha|   C|     12|
|       18|        Quito|           Pichincha|   B|     16|
|       19|     Guaranda|             Bolivar|   C|     15|
+---------+-------------+--------------------+----+-------+
only showing top 20 rows

In [28]:
df_spark = spark.read.csv('stores.csv', header=True, inferSchema=True)

In [16]:
df_spark

DataFrame[store_nbr: int, city: string, state: string, type: string, cluster: int]

In [17]:
df_spark.printSchema()

root
 |-- store_nbr: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- type: string (nullable = true)
 |-- cluster: integer (nullable = true)

In [18]:
df_spark.select(['store_nbr', 'city']).show()

+---------+-------------+
|store_nbr|         city|
+---------+-------------+
|        1|        Quito|
|        2|        Quito|
|        3|        Quito|
|        4|        Quito|
|        5|Santo Domingo|
|        6|        Quito|
|        7|        Quito|
|        8|        Quito|
|        9|        Quito|
|       10|        Quito|
|       11|      Cayambe|
|       12|    Latacunga|
|       13|    Latacunga|
|       14|     Riobamba|
|       15|       Ibarra|
|       16|Santo Domingo|
|       17|        Quito|
|       18|        Quito|
|       19|     Guaranda|
|       20|        Quito|
+---------+-------------+
only showing top 20 rows

In [21]:
df_spark = df_spark.withColumn('hello', df_spark['store_nbr'] * 5)

In [23]:
df_spark = df_spark.drop('hello')

In [29]:
df_spark.show()

+---------+-------------+--------------------+----+-------+
|store_nbr|         city|               state|type|cluster|
+---------+-------------+--------------------+----+-------+
|        1|        Quito|           Pichincha|   D|     13|
|        2|        Quito|           Pichincha|   D|     13|
|        3|        Quito|           Pichincha|   D|      8|
|        4|        Quito|           Pichincha|   D|      9|
|        5|Santo Domingo|Santo Domingo de ...|   D|      4|
|        6|        Quito|           Pichincha|   D|     13|
|        7|        Quito|           Pichincha|   D|      8|
|        8|        Quito|           Pichincha|   D|      8|
|        9|        Quito|           Pichincha|   B|      6|
|       10|        Quito|           Pichincha|   C|     15|
|       11|      Cayambe|           Pichincha|   B|      6|
|       12|    Latacunga|            Cotopaxi|   C|     15|
|       13|    Latacunga|            Cotopaxi|   C|     15|
|       14|     Riobamba|          Chimborazo|   C|      7|
|       15|       Ibarra|            Imbabura|   C|     15|
|       16|Santo Domingo|Santo Domingo de ...|   C|      3|
|       17|        Quito|           Pichincha|   C|     12|
|       18|        Quito|           Pichincha|   B|     16|
|       19|     Guaranda|             Bolivar|   C|     15|
|       20|        Quito|           Pichincha|   B|      6|
+---------+-------------+--------------------+----+-------+
only showing top 20 rows

In [25]:
df_spark =

AttributeError: 'list' object has no attribute 'show'